html {
  scroll-behavior: smooth;
}

/* what we do */
.card-flyer {
  border-radius: 5px;
}
.image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
.card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  /*width: 100%;
  height: 200px;*/
}
.card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
.card-flyer .text-box{
  text-align: center;
}
.card-flyer .text-box .text-container{
  padding: 30px 18px;
}
.card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
.card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
.card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
.card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif !important;
  /*letter-spacing: 1px;*/
  color: #00acc1;
}

/* end of what we do */

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


.stats {
  position: relative;
  width: 100%;
}

.banner{position:relative;}
.image {
    position:relative;
    width:100%;
    background:rgba(0,0,0,0.6);
    opacity:1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.image:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:hover:after {
    opacity:1;
}

.image img{width:100%;}
.banner .container{position: absolute; left:0; right:0; top:50%; text-align:left; transform:translateY(-50%)}

#clip {
  position: absolute;
  clip: rect(0px,60px,200px,0px);
  /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}

/*.stats {
    background-image: url('/home/malika/one-page-website-bootstrap-4-tutorial/assets/img/farm.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 50px !important;
    background-position: 0px -100px -100px -100px ;
    padding-top: 66.64%; /* (img-height / img-width * container-width) */
                /* (853 / 1280 * 100) 
}*/

.card-text {
	color: #3C2323 !important;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	text-overflow: ellipsis;
	font-size: 18px !important;
}


.container-fluid {
    height: 100;
    position: relative;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.intro {
    display: flex;
    align-items: center; 
}

.wrapper {
  padding: 20px 0;
}

/* Hover card */
/*----  Main Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
  /*background: #F7F7F7;*/
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif !important;
  /*letter-spacing: 1px;*/
  color: #00acc1;
}

/* end hover card */


.box {
  border-radius: 10px;
  margin-bottom: 30px;
  background: #fff;
  padding: 10px;
  color: #000;
}

.center-align {
  letter-spacing: -4px;
  text-align: center;
  font-size: 0;
}

.center-align [class*='col-'] {
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0;
  font-size: 14px;
  float: none;
}

.btn {
	font-family: 'Abril Fatface'; font-size: 20px; font-style: normal; color: white;
	height: 20;
  padding: 16px 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #20603C;
  border-width: 5;
  border-color: white; 
  border-radius: 5px;
}

.btn:hover {background-color: #133A24;}

.btn:active {
  background-color: #133A24;
  transform: translateY(4px);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 600; }

a, a:hover, a:focus { color: #ffb24b; text-decoration: none; transition: all .3s; }

.title { font-family: 'Abril Fatface'; font-size: 30px; font-style: normal; color: white;  }
.intro-line { font-family: 'Abril Fatface'; font-size: 50px; font-style: normal; color: white;  }
.intro-body {font-family: 'Lato', sans-serif; font-size: 20px; font-style: normal; color: white;}
.wwd { font-family: 'Abril Fatface'; font-size: 40px; font-style: normal; color: #3C2323;  }
.oj { font-family: 'Abril Fatface'; font-size: 40px; font-style: normal; color: white;  }
.kub {font-family: 'Lato', sans-serif; font-size: 15px; font-style: normal; color: white;}


h1, h2 {
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
    font-weight: 300;
    color: #555;
    line-height: 50px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

.medium-paragraph {
	font-size: 17px;
	line-height: 32px;
}

.colored-text { color: #ffb24b; }

::-moz-selection { background: #ffb24b; color: #fff; text-shadow: none; }
::selection { background: #ffb24b; color: #fff; text-shadow: none; }


/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-gray-bg {
	background: #f8f8f8;
}

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
	color: #fff;
}

.section-container-image-bg .divider-1 span {
	border-color: #fff;
}

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
	padding: 0 120px;
}
.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 60px;
}

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 0 28px;
	background: #ffb24b;
	background: rgba(155, 89, 182, 0.7);
	border: 0;
	font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    border-radius: 4px;
    transition: all .3s;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active, .btn-link-1:active:focus,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ffb24b;
	background: rgba(155, 89, 182, 0.9);
	outline: 0;
	color: #fff;
	box-shadow: none;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 0 28px;
	background: #333;
	background: rgba(0, 0, 0, 0.2);
	border: 0;
	font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    border-radius: 4px;
    transition: all .3s;
}
.btn-link-2:hover, .btn-link-2:focus, .btn-link-2:active, .btn-link-2:active:focus,
.btn-link-2.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-2.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #333; background: rgba(0, 0, 0, 0.4); outline: 0; color: #fff; box-shadow: none;
}

.btn-link-3 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 0 28px;
	background: none;
	border: 0;
	border-bottom: 2px solid #ffb24b;
	font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #ffb24b;
    border-radius: 0;
    transition: all .3s;
}
.btn-link-3:hover, .btn-link-3:focus, .btn-link-3:active, .btn-link-3:active:focus,
.btn-link-3.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-3.btn-primary:not(:disabled):not(.disabled):active:focus {
	padding: 0 10px;
	background: none;
	border: 0;
	border-bottom: 2px solid #ffb24b;
	outline: 0;
	color: #ffb24b;
	box-shadow: none;
}


/***** Divider *****/

.divider-1 span {
	display: inline-block;
	width: 200px;
	border-bottom: 1px dashed #ccc;
}


/***** Top menu *****/

.navbar {
	background: #444;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
	backface-visibility: hidden;
}
.navbar.navbar-no-bg { background: #444; background: rgba(0, 0, 0, 0.2); }

/*.navbar .navbar-no-bg { background-color: white; color: black; overflow: hidden; }*/
/*.navbar .navbar-no-bg .nav-link:hover {
  background-color: #ddd;
  color: black;
}
*/
/* Add an active class to highlight the current page */
.navbar .navbar-no-bg a.active {
  background-color: #4CAF50;
  color: white;
}

.navbar-dark .navbar-nav { font-size: 15px; color: #fff; font-weight: 600; }
.navbar-dark .navbar-nav .nav-link { color: #fff; color: rgba(255, 255, 255, 0.8); border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #fff; }
.navbar-dark .navbar-nav .nav-link:focus { color: #fff; outline: 0; }

.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }

/*.navbar-brand {
	width: 50px;
	background: url(../img/logo.png) left center no-repeat;
	border: 0;
	text-indent: -99999px;

}
*/

/***** Top content *****/

.top-content {
    padding: 210px 0;

}

.top-content .text {
	color: #fff;
}

.top-content .text h1 {
	margin-top: 25px;
	color: #fff;
}

.top-content .description {
	margin: 30px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .top-big-link {
	margin-top: 45px;
}


/***** Services *****/

.services-box {
	padding-top: 30px;
	text-align: left;
}

.services-box .services-box-icon {
	width: 80px;
	height: 80px;
	margin: 0 auto;
    font-size: 40px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    border-radius: 28px;
    
    background: #ffb24b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb24b 0%, #ffb24b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb24b), color-stop(100%,#ffb24b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb24b 0%,#ffb24b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb24b 0%,#ffb24b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb24b 0%,#ffb24b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb24b 0%,#ffb24b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#ffb24b',GradientType=0 ); /* IE6-9 */
}

.services-box h3 {
	margin-top: 0;
	padding: 0 0 10px 0;
}


/***** About us *****/

.about-us-box {
	margin-top: 100px;
}

.about-us-box-text {
	padding-right: 30px;
	text-align: left;
}

.about-us-box-text h3 {
	margin-top: 0;
}

.about-us-box-text .medium-paragraph {
	margin-top: 20px;
	margin-bottom: 20px;
}

.about-us-box-text a { border-bottom: 1px dashed #ffb24b; }
.about-us-box-text a:hover, .about-us-box-text a:focus { border: 0; }

.about-us-box-img img {
	border-radius: 4px;
}


/***** More services *****/

.more-services-box {
	margin-top: 30px;
	text-align: left;
}

.more-services-box .more-services-box-icon {
	width: 60px;
	height: 60px;
	margin: 0 auto;
    font-size: 28px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    border-radius: 22px;
    
    background: #ffb24b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb24b 0%, #ffb24b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb24b), color-stop(100%,#ffb24b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb24b 0%,#ffb24b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb24b 0%,#ffb24b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb24b 0%,#ffb24b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb24b 0%,#ffb24b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#ffb24b',GradientType=0 ); /* IE6-9 */
}

.more-services-box h3 {
	margin-top: 0;
	padding: 0 0 10px 0;
}


/***** Call to action *****/

.call-to-action-container .section-bottom-button {
	padding-top: 30px;
}


/***** Portfolio *****/

.portfolio-box {
	padding-top: 30px;
	text-align: left;
}

.portfolio-box-image {
	overflow: hidden;
	border-radius: 4px;
}

.portfolio-box-image img {
	-o-transition: all .8s; -moz-transition: all .8s; -webkit-transition: all .8s; -ms-transition: all .8s; transition: all .8s;
}

.portfolio-box-image:hover img {
	-o-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-transform: scale(1.25); -ms-transform: scale(1.25); transform: scale(1.25);
}

.portfolio-box h3 {
	margin-top: 30px;
}
.portfolio-box h3 a { color: #555; }
.portfolio-box h3 a:hover, .portfolio-box h3 a:focus { color: #ffb24b; }

.portfolio-box h3 i {
	padding-left: 10px;
	color: #ccc;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.portfolio-box h3:hover i { padding-left: 15px; }

.portfolio-box-date {
	padding-bottom: 10px;
	font-size: 14px;
	color: #aaa;
	text-transform: uppercase;
}

.portfolio-box-date i {
	padding-right: 5px;
	color: #ddd;
}

.portfolio-container .section-bottom-button {
	padding-top: 40px;
}


/***** Testimonials *****/

.testimonials-container {
	padding-bottom: 70px;
}

.testimonial-list {
    margin-top: 30px;
    text-align: center;
}

.testimonial-list .testimonial-image img {
	max-width: 160px;
	border-radius: 4px;
}

.testimonial-list .testimonial-text {
	margin-top: 30px;
	opacity: 0.8;
}

.testimonial-list .testimonial-text a {
	color: #fff;
	border-bottom: 1px dashed #fff;
}
.testimonial-list .testimonial-text a:hover, 
.testimonial-list .testimonial-text a:focus { color: #fff; border: 0; }

.testimonial-list .nav-tabs {
	margin-top: 45px;
    border: 0;
    justify-content: center;
}

.testimonial-list .nav-tabs li {
	margin-left: 10px;
    margin-right: 10px;
}

.testimonial-list .nav-tabs li a {
    width: 16px;
    height: 16px;
    padding: 0;
    background: none;
    border: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.8);
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.testimonial-list .nav-tabs li a:hover,
.testimonial-list .nav-tabs li a:focus {
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
    border: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.8);
}

.testimonial-list .nav-tabs li a.active,
.testimonial-list .nav-tabs li a.active:focus {
	background: #ffb24b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb24b 0%, #ffb24b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb24b), color-stop(100%,#ffb24b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb24b 0%,#ffb24b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb24b 0%,#ffb24b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb24b 0%,#ffb24b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb24b 0%,#ffb24b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#ffb24b',GradientType=0 ); /* IE6-9 */
	
	border: 0;
}


/***** Blog *****/

.blog-box {
	margin-top: 30px;
	text-align: left;
}

.blog-box-image {
	margin-top: 8px;
	overflow: hidden;
	border-radius: 4px;
}

.blog-box-image img {
	-o-transition: all .8s; -moz-transition: all .8s; -webkit-transition: all .8s; -ms-transition: all .8s; transition: all .8s;
}

.blog-box-image:hover img {
	-o-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-transform: scale(1.25); -ms-transform: scale(1.25); transform: scale(1.25);
}

.blog-box h3 {
	margin-top: 0;
}
.blog-box h3 a { color: #555; }
.blog-box h3 a:hover, .blog-box h3 a:focus { color: #ffb24b; }

.blog-box h3 i {
	padding-left: 10px;
	color: #ccc;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.blog-box h3:hover i { padding-left: 15px; }

.blog-box-date {
	padding-bottom: 10px;
	font-size: 14px;
	color: #aaa;
	text-transform: uppercase;
}

.blog-box-date i {
	padding-right: 5px;
	color: #ddd;
}

.blog-container .section-bottom-button {
	padding-top: 40px;
}


/***** Footer *****/

footer {
	padding: 40px 0 0 0;
	background: #444;
	color: #aaa;
	text-align: left;
}

.footer-left a { color: #ddd; border-bottom: 1px dashed #ddd; }
.footer-left a:hover, .footer-left a:focus { color: #ddd; border: 0; }

.footer-right {
	text-align: right;
}

.footer-right a {
	margin: 0 6px;
    font-size: 32px;
    color: #aaa;
}
.footer-right a:hover, .footer-right a:focus { color: #eee; }

.footer-bottom {
	padding-bottom: 25px;
	text-align: center;
}

.footer-bottom a {
	font-size: 32px;
    color: #666;
    line-height: 40px;
}

.footer-bottom a:hover, .footer-bottom a:focus { color: #888; }
